.btn {
	padding: 10px;
	min-width: 4rem;
}

.primary {
	background-color: var(--primary);
	border: 1px solid var(--primary-dark);
}

.danger {
	background-color: var(--danger);
	border: 1px solid var(--danger-dark);
}
