.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.active {
	transform: scale(1);
}

.content {
	padding: 2rem;
	background-color: var(--white);
}

.menu {
	margin-top: 2rem;

	display: flex;
	justify-content: space-between;
}
